<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CampusAppearanceAI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">

        <h1>CampusAppearanceAI</h1>

        <p class="subtitle">
            AI-Based Campus Appearance Compliance Detection
        </p>

        <div class="card">

            <h2>Appearance Compliance Detection</h2>

            <p>
                Detect predefined campus appearance guidelines
                using computer vision.
            </p>

            <a href="/detect">
    <button>Start Detection</button>
</a>

        </div>

    </div>

</body>
</html>